@model IEnumerable<RoleViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mb-3">
    <div class="col-md-12">
        <a class="btn btn-primary float-right" asp-action="Create">Create new Role</a>
    </div>
</div>

<div class="mt-2">
    <form method="get" asp-action="Index" class="row offset-2">
        <div class="col-10">
            <input class="form-control" type="text" placeholder="Role' name" name="name" required />
        </div>
        <div class="col-2">
            <input class="btn btn-info" type="submit" value="Search" />
        </div>

    </form>
</div>





@if (Model.Any())
{
    <table class="table table-striped table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>@Html.DisplayNameFor(e => e.Id)</th>
                <th>@Html.DisplayNameFor(e => e.Name)</th>
               
                <th>Actions</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var Role in Model)
            {
                <tr>
                    <td>@Role.Id</td>
                    <td>@Role.Name</td>
                    


                    <td>
                        <a asp-action="Details" asp-route-id="@Role.Id" class="btn btn-warning">Details</a>
                        <a asp-action="Edit" asp-route-id="@Role.Id" class="btn btn-primary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@Role.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


